.buttonWrap {
    padding: 40px 0 0;
}


.backButton {
    display: flex;
    align-items: center;
    margin: 0 0 40px 30px;
    padding: 6px 0px 6px 40px;
    width: 60px;
    box-shadow: var(--button-box-shadow);
    color: var(--text-primary);
    font-family: var(--font);
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    background-color: var(--elements);
}

.backButton p {
    margin-left: 10px;
}

.backButton img {
    position: absolute;
    left: 50px;
    width: 16px;
    height: auto;
}

@media screen and (min-width: 600px) {
    .buttonWrap {
        padding: 78px 0 0;
        margin-left: 54px;
    }

    .backButton {
        padding: 7px 25px 7px 50px;
        font-size: 16px;
        border-radius: 5px;
    }

    .backButton img {
        position: absolute;
        left: 113px;
        width: 20px;
        height: auto;
    }
}