.buttonWrap {
    padding: 40px 0 0;
}


.backButton {
    display: flex;
    align-items: center;
    margin: 0 0 40px 30px;
    padding: 6px 0px 6px 40px;
    width: 60px;
    box-shadow: var(--button-box-shadow);
    color: var(--text-primary);
    font-family: var(--font);
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    background-color: var(--elements);
}

.backButton p {
    margin-left: 10px;
}

.backButton img {
    position: absolute;
    left: 50px;
    width: 16px;
    height: auto;
}