.detail {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    color: var(--text-primary);
}

.detail-wrap,
.detail-wrap-flag {
    width: 325px;
    margin: auto;
}

.detail-flag {
    width: 100%;
    padding: 25px 0;
}

.detail-flag img {
    height: 229px;
    width: 100%;
}

.detail-info {
    font-family: var(--font);
    font-size: var(--font-size);
}

.detail-top-div {
    padding: 16px 0 32px;
}

.detail-top-div h1 {
    font-size: 22px;
    padding-bottom: 16px;
}

.detail-top-div p,
.detail-middle-div p {
    font-weight: var(--font-weight-medium);
    line-height: 32px;
}

.detail-info span {
    font-weight: var(--font-weight-light);
}

.detail-middle-div {
    padding-bottom: 34px;
}

.detail-bottom-div h2 {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
}

.borders {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
}

.borders button {
    font-family: var(--font);
    color: var(--text-primary);
    background-color: var(--elements);
    border: none;
    padding: 5px 0;
    width: 90px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 2px;
    margin: 0 0 10px 0;
}

.borders button:not(:last-child) {
    margin-right: 10px;
}

@media screen and (min-width: 600px) {
    .detail {
        padding: 45px 0 0 5px;
        background-color: var(--main-bg-color);
        width: 89vw;
        flex-direction: row;
        justify-content: space-between;
    }

    .detail-wrap-flag {
        width: 560px;
    }

    .detail-wrap {
        display: flex;
        width: 600px;
        flex-wrap: wrap;
        margin: auto;
    }

    .detail-flag {
        width: 560px;
        padding: 0;
    }

    .detail-flag img {
        height: 400px;
        width: 560px;
    }

    .detail-top-div h1 {
        font-size: 32px;
        padding-bottom: 24px;
        font-weight: var(--font-weight-heavy);
    }

    .detail-top-div p,
    .detail-middle-div p {
        font-size: 16px;
        font-weight: var(--font-weight-heavy);
        line-height: 32px;
    }

    .detail-middle-div {
        padding: 80px 0 0 20px;
        display: flex;
        flex-direction: column;
    }

    .detail-bottom-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 20px;
    }

    .detail-bottom-div h2 {
        margin-right: 15px;
        font-weight: var(--font-weight-heavy);
    }

    .borders button {
        margin: 0;
    }
}