.selectWrap {
    padding-bottom: 9px;
    width: 170px;
}

.select {
    padding: 15px 0 15px 30px;
    margin: 22px 0 0 17px;
}

.select,
.options {
    width: 170px;
    border: none;
    border-radius: 5px;
    background-color: var(--elements);
    box-shadow: var(--card-box-shadow);
    color: var(--text-primary);
    text-align: left;
    font-family: var(--font);
    font-size: 12px;
    font-weight: var(--font-weight-medium);
}

ul li {
    list-style-type: none;
}

ul:hover {
    display: block;
}

.options {
    padding: 10px 0 10px 30px;
    margin: 22px 0 0 17px;
    display: none;
    position: absolute;
    left: 0;
}

.options p {
    line-height: 17px;
    padding: 3px 0;
}

.selectWrap:hover .options {
    display: block;
}

.block {
    display: block;
}

@media screen and (min-width: 600px) {
    .selectWrap {
        position: absolute;
        top: 100px;
        right: 126px;
        padding-bottom: 10px;
        width: 170px;
    }

    .select {
        padding: 20px 0 20px 30px;
        margin: 25px 0 0 17px;
    }

    .select,
    .options {
        font-size: 14px;
        font-weight: var(--font-weight-medium);
    }

    .options p {
        line-height: 21px;
        padding: 4px 0;
    }
}