.countries {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 34px 0;
    background-color: none;
    color: var(--text-primary);
}

.countries-card {
    width: 70%;
    border-radius: 8px;
    box-shadow: var(--card-box-shadow);
    margin-bottom: 40px;
}

.countries-card img {
    width: 100%;
    height: 156px;
}

.countries-card-info {
    padding: 0 50px 40px;
    background-color: var(--elements);
    font-family: var(--font);
    font-weight: var(--font-weight-heavy);
    font-size: 10px;
}

.countries-card-info h1 {
    padding: 19px 0 12px;
}

.countries-card-info p {
    font-size: 14px;
    font-weight: var(--font-weight-medium);
    line-height: 24px;
}

.card-info-detail {
    font-weight: var(--font-weight-light);
}