.searchbar-div {
    width: 100%;
    padding: 20px 0 20px;
    background-color: var(--main-bg-color);
}

.searchbar {
    margin: auto;
}

.searchbar input {
    background-color: var(--elements);
    color: var(--text-primary);
    padding: 16px 90px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--card-box-shadow);
}

.searchbar input::placeholder {
    font-size: 12px;
    color: lightgrey;
}

.loop {
    left: 50px;
    position: relative;
    width: 16px;
    height: auto;
}

@media screen and (min-width: 600px) {

    .searchbar-div {
        width: auto;
        margin-left: 63px;
        padding: 45px 0 48px;
    }

    .searchbar input {
        padding: 21px 240px 21px 70px;
    }

    .searchbar input::placeholder {
        font-size: 13px;
        color: var(--text-primary);
        opacity: .6;
    }

}