.searchbar-div {
    width: 100%;
    padding: 24px 0;
}

.searchbar {
    /* padding: 24px 0; */
    margin: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.searchbar input {
    background-color: var(--elements);
    padding: 16px 90px;
    border: none;
    border-radius: 5px;
    box-shadow: var(--card-box-shadow);
}

.searchbar input::placeholder {
    font-size: 12px;
    color: lightgrey;
}

.loop {
    left: 50px;
    position: relative;
    width: 16px;
    height: auto;
}