header {
    background-color: var(--main-bg-color);
    padding-bottom: 5px;
    width: 100vw;
}

.home,
.detailPage {
    background-color: var(--main-bg-color);
    min-height: calc(100vh - 83px);
}

.navbar-div {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    background-color: var(--elements);
    font-family: var(--font);
    color: var(--text-primary);
    font-size: 14px;
    font-weight: var(--font-weight-heavy);
    box-shadow: var(--navbar-box-shadow);

}

.navbar-div>p {
    margin-left: 25px;
}

.navbar-div-image {
    display: flex;
    margin-right: 20px;
}

.navbar-div-image p {
    margin-left: 10px;
    font-size: 12px;
    font-weight: var(--font-weight-medium);
}

.navbar-div img {
    width: 16px;
    height: 16px;
}

@media screen and (min-width: 600px) {

    header {
        box-shadow: var(--navbar-box-shadow);
        padding-bottom: 1px;
        width: 100%;
    }

    .navbar-div {
        padding: 25px 40px;
        font-family: var(--font);
        font-size: 24px;
        font-weight: var(--font-weight-heavy);
    }

    .navbar-div>p {
        margin-left: 42px;
    }

    .navbar-div-image {
        margin-right: 44px;
    }

    .navbar-div-image p {
        margin-left: 10px;
        font-size: 16px;
        font-weight: var(--font-weight-medium);
    }

    .navbar-div img {
        width: 18px;
        height: 18px;
    }
}